

    <header>
        <nav>
            <div class="contenedor-nav-img">
                <a href="/">
                    <img src="/images/TOP-logo.png" alt="Logo-empresa">
                </a>
            </div>
            <div class="contenedor-nav-links">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/quienes-somos">Quiénes somos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/servicios/consultoria">Consultoria</a></li>
                    <li class="nav-item"><a class="nav-link" href="/servicios/asesoramiento-financiero">Asesoramiento financiero</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contacto">Contacto</a></li>
                </ul>
            </div>
            <div class="contenedor-nav-links-compu">
                <ul class="navbar-nav-compu">
                    <li class="nav-item"><a class="nav-link" href="/quienes-somos">Quiénes somos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/servicios/consultoria">Consultoria</a></li>
                    <li class="nav-item"><a class="nav-link" href="/servicios/asesoramiento-financiero">Asesoramiento financiero</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contacto">Contacto</a></li>
                </ul>
            </div>
            <button class="menu-toggle" aria-label="Abrir menú">&#9776;</button>
        </nav> 
    </header>
