<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios DLL</title>
    <link rel="stylesheet" href="/css/asesoramiento.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="/js/menuHamburguesa.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <%- include('partials/header') %>

    <div class="mobile">
        <img src="/images/top-asesoramiento.jpg" alt="">
        <h1 class="geist-Titulos">Asesoramiento Financiero</h1> 
    </div>
    <main class="img-consultoria">
        <section class="consultoria-seccion">
            <div class="img-consultoria__titulo">
                <div><h1 class="geist-Titulos">Asesoramiento Financiero</h1></div> 
                <h3  class="geist-subTitulos">DLL & Asoc. cuenta con un equipo dedicado exclusivamente a:</h3>
            </div>
            <section class="colums-consult">
                <div class="cuadro_1"><img src="/images/icono-boton.png" alt=""><p class="geist-subTitulos">Análisis de pre-factibilidad</p></div>
                <div class="cuadro_2"><img src="/images/icono-boton.png" alt=""><p class="geist-subTitulos">Formulación de proyectos y planes de negocio</p></div>
                <div class="cuadro_3"><img src="/images/icono-boton.png" alt=""><p class="geist-subTitulos">Análisis de diversas fuentes de financiamiento</p></div>
                <div class="cuadro_4"><img src="/images/icono-boton.png" alt=""><p class="geist-subTitulos">Gestión del financiamiento y las garantías</p></div>
            </section>

        </section>
    </main>

    <%- include('partials/footer') %>
</body>
</html>
