<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/logo final dll_blanco_PNG.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios DLL</title>
    <link rel="stylesheet" href="/CSS/consultoriaAsesoramientoresponsive.css">
    <link rel="stylesheet" href="/CSS/consultoria.css">
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/CSS/footer.css">
    <script src="/js/menuHamburguesa.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <%- include('partials/header') %>
    <div class="mobile">
        <img src="/images/top-consultoria.jpg" alt="">
        <h1 class="geist-Titulos">Consultoria</h1>
    </div> 
    <main class="img-consultoria">
        <section class="consultoria-seccion">
            <div class="img-consultoria__titulo">
                <div><h1 class="geist-Titulos">Consultoria</h1></div> 
                <h3 class="geist-subTitulos">DLL & Asoc., en su división Consultoría, brinda un asesoramiento integral para sus clientes que cubre todo el ciclo de vida de los proyectos, desde la concepción de la idea hasta su llegada al mercado.</h3>
            </div>
            <section class="colums-consult">
                <div class="cuadro_1">1.<img src="/images/icono-01.png" alt=""><p class="geist-subTitulos">Análisis de pre-factibilidad</p></div>
                <div class="cuadro_2">2.<img src="/images/icono-02.png" alt=""><p class="geist-subTitulos">Formulación de proyectos y planes de negocio</p></div>
                <div class="cuadro_3">3.<img src="/images/icono-03.png" alt=""><p class="geist-subTitulos">Análisis de diversas fuentes de financiamiento</p></div>
                <div class="cuadro_4">4.<img src="/images/icono-04.png" alt=""><p class="geist-subTitulos">Gestión del financiamiento y las garantías</p></div>
                <div class="cuadro_5">5.<img src="/images/icono-05.png" alt=""><p class="geist-subTitulos">Seguimiento e implementación del proyecto</p></div>
                <div class="cuadro_6">6.<img src="/images/icono-06.png" alt=""><p class="geist-subTitulos">Análisis post-ejecución del proyecto a fin de maximizar su éxito.</p></div>
            </section>
            <div class="bloque-trasero">
                <h2 class="geist-Titulos">Servicio integral</h2>
            </div>
        </section>
    </main>

    <%- include('partials/footer') %>
</body>
</html>
