<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>DLL & Asoc.</title>
</head>
<body>
    <header>
        <nav>
            <div class="contenedor-nav-img">
                <a href="/">
                    <img src="./public/images/TOP-logo.png" alt="Logo-empresa">
                </a>
            </div>
            <div class="contenedor-nav-links">

            </div>
        </nav> 
    </header>
</body>
</html>