<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/public/images/logoWpp.jpeg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Metaetiquetas SEO -->
    <meta name="keywords" content="consultora financiera, préstamos, financiamiento, subsidios, asesoría financiera, crédito, ayuda financiera, soluciones financieras, consultoría de crédito, préstamos personales, financiamiento empresarial, asesoría en subsidios">
    <meta name="description" content="DLL Group es una consultora especializada en financiamiento, préstamos y subsidios. Brindamos asesoría personalizada para obtener los mejores créditos y ayudas financieras, tanto para empresas como para particulares.">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://dllgroup.com.ar">
    
    <!-- Metaetiquetas Open Graph para compartir en redes -->
    <meta property="og:title" content="DLL Group - Especialistas en inversiones y financiamiento">
    <meta property="og:description" content="Descubre nuestros servicios de asesoría financiera y obtén los mejores préstamos y subsidios para tus proyectos.">
    <meta property="og:image" content="https://dllgroup.com.ar/images/logo%20final%20dll_blanco_PNG.png">
    <meta property="og:url" content="https://dllgroup.com.ar">
    <meta property="og:type" content="website">
    
    <!-- Hojas de estilo -->
    <link rel="stylesheet" href="/CSS/index.css">
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/CSS/footer.css">
    
    <title>DLL & Asoc.</title>

    <script src="/js/menuindex.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>


<body>
    <%- include('partials/header') %>

        <main class="main-contenedor">
            <div class="carousel">
                <div class="carousel-images">
                    <img src="/images/slider-suproyecto.jpg" alt="Imagen 1">
                    <img src="/images/slider-consultoria.jpg" alt="Imagen 2">
                </div>
            </div>
        </main>
        <section class="mobile">
            <img src="/images/slider-suproyecto.jpg" alt="">
        </section>



        <section class="titulo">
            <h1 class="geist-Titulos">Su proyecto <br> es el nuestro</h1>
            <h5 class="geist-subTitulos">Más de 20 años acompañando a nuestros clientes</h5>
        </section>

        <section class="links-con-foto">
            <div class="consultoria-link">
                <a href="/servicios/Asesoramiento-financiero">
                    <img src="/images/acceso-directo-consultoria.jpg" alt="imgConsultoria">
                </a>
                <a href="/servicios/Asesoramiento-financiero">
                    <div class="texto-asesoramiento">
                        <img src="/images/servicios-iconos-financiero.png" alt="">
                        <div>
                            <h2 class="geist-Titulos">Asesoramiento Financiero</h2>
                            <p class="geist-subTitulos">Brindamos un asesoramiento integral a clientes para la gestión
                                de proyectos innovadores</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="asesoramiento-link">
                <a href="/servicios/consultoria">
                    <img src="/images/acceso-directo-asesoramiento.jpg" alt="imgAsesoramiento">
                </a>
                <a href="/servicios/consultoria">
                    <div class="texto-consultoria">
                        <img src="/images/servicios-icono-consultoria.png" alt="">
                        <div>
                            <h2 class="geist-Titulos">Consultoría</h2>
                            <p class="geist-subTitulos">Contamos con un equipo altamente calificado, para seguros y
                                maximizar carteras</p>
                        </div>
                    </div>
                </a>
            </div>
        </section>
        <section class="links_mobile">
           

        </section>
        <div class="oculto-by-mobile">
            <a href="/servicios/Asesoramiento-financiero"><img class="oculto-by-mobile"
                    src="/images/asesoramiento.png" alt=""></a>
            <a href="/servicios/consultoria"><img class="oculto-by-mobile"
                    src="/images/consultoria-mobil.png" alt=""></a>
        </div>



        <%- include('partials/footer') %>

            <script>
                const menuToggle = document.querySelector('.menu-toggle');
                const navLinks = document.querySelector('.contenedor-nav-links');
                const body = document.body;

                menuToggle.addEventListener('click', () => {
                    navLinks.classList.toggle('active');
                    body.classList.toggle('menu-open');
                });
            </script>



            <script src="/js/carrusel.js"></script>
</body>

</html>