<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>DLL & Asoc.</title>
</head>
<body>
    <header>
        <nav>
            <div class="contenedor-nav-img">
                <a href="/">
                    <img src="/images/TOP-logo.png" alt="Logo-empresa">
                </a>
            </div>
            <div class="contenedor-nav-links">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/quienes-somos">Quiénes somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacto">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav> 
    </header>

    <main class="main-contenedor">
        <img src="/images/slider-suproyecto.jpg" alt="">
    </main>


    <section class="links-con-foto">
        <div class="consultoria-link-1">
            <a href="/consultoria">
                <img src="/images/acceso-directo-consultoria.jpg" alt="imgConsultoria">
            </a>
            <h4>prueba 1</h4>
        </div>
        <div class="consultoria-link-2">
            <a href="/asesoramiento-financiero">
                <img src="/images/acceso-directo-asesoramiento.jpg" alt="omgasesoramiento">
            </a>
            <div class="texto-consultoria">
                <img style="color: #fff; height: 60px; width: auto;" src="/images/servicios-icono-consultoria.png" alt="">
                <div>
                    <h2>Consultoria</h2>
                    <p>brindamos un asesoramiento integral a clientes para la gestion de proyectos innovadores</p>
                </div>
            </div>
        </div>
    </section>


    <section class="titulo">
        <h1>Su proyecto <br>
            es el nuestro</h1>
            <h5>Más de 15 años acompañando a nuestros clientes</h5>

    </section>

    <footer>
        <section>
            <div class="logo-empresarial">
                <a href="/"><img src="/images/TOP-logo.png" alt="logo-empresarial"></a>
            </div>
            <div class="secciones">
                <h3>Secciones</h3>
                <ul class="navbar-nav-footer">
                    <li class="nav-item-footer">
                        <a class="nav-link" href="/quienes-somos">Quiénes somos</a>
                    </li>
                    <li class="nav-item-footer">
                        <a class="nav-link" href="/servicios">Servicios</a>
                    </li>
                    <li class="nav-item-footer">
                        <a class="nav-link" href="/contacto">Contacto</a>
                    </li>
                </ul>
            </div>
            <div class="contacto">
                <h3>Contacto</h3>
                <ul class="navbar-nav-footer">
                    <li class="nav-item-footer">
                        <a class="nav-link" href="/quienes-somos">numero de tell</a>
                    </li>
                    <li class="nav-item-footer">
                        <a class="nav-link" href="/servicios">gmail</a>
                    </li>
                    <li class="nav-item-footer">
                        <a class="nav-link" href="/contacto">direc</a>
                    </li>
                </ul>
            </div>
        </section>
        <hr>
        <div class="registrada__footer">
            <h5>Copyright © 2024 DDL & Asoc. All rights reserved</h5>
        </div>
    </footer>
</body>
</html>