<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quienes Somos DLL</title>
    <link rel="stylesheet" href="/css/QuienesSomos.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/CSS/responsivecss/QuienesSomosresponsive.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="contenedor-nav-img">
                <a href="/">
                    <img src="/images/TOP-logo.png" alt="Logo-empresa">
                </a>
            </div>
            <div class="contenedor-nav-links">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/quienes-somos">Quiénes somos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/servicios/consultoria">Servicios</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contacto">Contacto</a></li>
                </ul>
            </div>
        </nav> 
    </header>
    
    <div class="fondo-quienesSomos">
        <section class="infoQuienesSomos-contenedor">
            <div>
                <h2>Quiénes somos</h2>
                <p>DLL & Asoc. Es una compañía que se dedica en forma intensiva desde el 2005 al asesoramiento, gestión de garantías y búsqueda de financiamiento para la realización de proyectos empresariales.  
                    En todos los proyectos donde participa DLL & Asoc. Existen dos denominadores comunes: <b>la innovación y la tecnología</b>.</p>
                
                <br>    <h2>Nuestro servicio:</h2>
                <p>DLL & Asoc. se especializa en obtener garantías y financiamiento proveniente de entes gubernamentales, organismos multilaterales de crédito y del sistema financiero tradicional, para realizar proyectos de I+D+i (Investigación, Desarrollo e Innovación), permitiendo el desarrollo de nuevos productos, innovaciones en productos y procesos, adquisición de equipamiento, modernizaciones tecnológicas de plantas industriales y proyectos de inversión.
                </p>
                <br>    <h2>Gestión de subsidios, créditos, beneficios fiscales y garantías.</h2>
                <p>DLL & Asoc. ha participado en la obtención de recursos financieros en más de 750 proyectos para más de 350 empresas, con un alcance territorial que cubre 19 de las 23 provincias y la Ciudad Autónoma de Buenos Aires.
                    Nos acompaña un equipo de profesionales especialistas en ingeniería, contabilidad, finanzas, capital de riesgo y búsqueda de financiamiento.</p>
                <br>   <h2>Visión</h2>
                <p>Creemos que el éxito de la empresa y sus proyectos se alcanza con un enfoque global y trabajo en equipo</p>
                
            </div>
        </section>
        
        <section class="links-con-foto">
            <div class="consultoria-link">
                <a href="/consultoria">
                    <img src="/images/acceso-directo-consultoria.jpg" alt="imgConsultoria">
                </a>
                <a href="/consultoria">
                    <div class="texto-asesoramiento">
                        <img src="/images/servicios-iconos-financiero.png" alt="">
                        <div>
                            <h2>Asesoramiento Financiero</h2>
                            <p>Brindamos un asesoramiento integral a clientes para la gestión de proyectos innovadores</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="asesoramiento-link">
                <a href="/asesoramiento-financiero">
                    <img src="/images/acceso-directo-asesoramiento.jpg" alt="imgAsesoramiento">
                </a>
                <a href="/asesoramiento-financiero">
                    <div class="texto-consultoria">
                        <img src="/images/servicios-icono-consultoria.png" alt="">
                        <div>
                            <h2>Consultoría</h2>
                            <p>Contamos con un equipo altamente calificado, para seguros y maximizar carteras</p>
                        </div>
                    </div>
                </a>
            </div>
        </section>
    </div> 
    
    

    <footer>
        <section>
            <div class="logo-empresarial">
                <a href="/"><img src="/images/TOP-logo.png" alt="logo-empresarial"></a>
            </div>
            <div class="secciones">
                <h3>Secciones</h3>
                <ul class="navbar-nav-footer">
                    <li class="nav-item-footer"><a class="nav-link" href="/quienes-somos">Quiénes somos</a></li>
                    <li class="nav-item-footer"><a class="nav-link" href="/servicios">Servicios</a></li>
                    <li class="nav-item-footer"><a class="nav-link" href="/contacto">Contacto</a></li>
                </ul>
            </div>
            <div class="contacto">
                <h3>Contacto</h3>
                <ul class="navbar-nav-footer">
                    <li class="nav-item-footer">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z"/></svg>
                        <a class="nav-link" href="/quienes-somos">+ 54 11 7917-2640</a>
                    </li>
                    <li class="nav-item-footer"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"/></svg><a class="nav-link" href="/servicios">info@dllgroup.com.ar </a></li>
                    <li class="nav-item-footer"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"/></svg><a class="nav-link" href="/contacto">Estanislao Zeballos 2740 <br>
                                                                                    Piso 1 (B1643AGZ) Béccar (San Isidro) <br> Buenos Aires</a></li>
                </ul>
            </div>
        </section>
        <hr>
        <div class="registrada__footer">
            <h5>Copyright © 2024 DDL & Asoc. All rights reserved</h5>
        </div>
    </footer>
</body>
</html>