<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quienes Somos DLL</title>
    <link rel="stylesheet" href="/css/QuienesSomos.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    

    <script src="/js/menuHamburguesa.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('partials/header') %>
    

    <main>
        <section class="texto-quienes-somos">
            <h2 class="geist-Titulos">Quiénes somos</h2>
            <p class="geist-subTitulos">
                DLL & Asoc. es una compañía que se dedica en forma intensiva desde el 2005 al
                asesoramiento, gestión de garantías y búsqueda de financiamiento para la realización de
                proyectos empresariales. <br>
                En todos los proyectos donde participa DLL & Asoc. Existen dos denominadores
                comunes: la innovación y la tecnología.
            </p>
            <h2 class="geist-Titulos">Nuestro servicio:</h2>
            <p class="geist-subTitulos">
                DLL & Asoc. se especializa en obtener garantías y financiamiento proveniente de
                entes gubernamentales, organismos multilaterales de crédito y del sistema financiero
                tradicional, para realizar proyectos de I+D+i (Investigación, Desarrollo e Innovación),
                permitiendo el desarrollo de nuevos productos, innovaciones en productos y procesos,
                adquisición de equipamiento, modernizaciones tecnológicas de plantas industriales
                y proyectos de inversión.
            </p>
            <h2 class="geist-Titulos">
                Gestión de subsidios, créditos, beneficios
                fiscales y garantías.
            </h2>
            <p class="geist-subTitulos">
                DLL & Asoc. ha participado en la obtención de recursos financieros en más de 750
                proyectos para más de 350 empresas, con un alcance territorial que cubre 19 de las
                23 provincias y la Ciudad Autónoma de Buenos Aires.
                Nos acompaña un equipo de profesionales especialistas en ingeniería, contabilidad,
                finanzas, capital de riesgo y búsqueda de financiamiento.
            </p>
            <section class="img-quienes-somos-mobile">
                <div> 
                    <h1 class="geist-Titulos">Visión</h1>
                    <p class="geist-subTitulos">Creemos que el éxito de la empresa y sus proyectos se alcanza con un enfoque
                        global y trabajo en equipo</p>
                </div>
            </section>
        </section>
        <section class="img-quienes-somos">
            <div> 
                <h1 class="geist-Titulos">Visión</h1>
                <h3 class="geist-subTitulos">Creemos que el éxito de la empresa y sus proyectos se alcanza con un enfoque
                    global y trabajo en equipo</h3>
            </div>
        </section>
    </main>

    <%- include('partials/footer') %>

</body>
</html>