
.geist-Titulos {
    font-family: "Geist", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

.geist-subTitulos{
    font-family: "Geist", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Fondo de imagen de consultoría */
.img-consultoria {
    width: 100vw;
    height: 100vh;
    background-image: url('/images/quienes-somos-imagen.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    padding: 7em 0em;
    box-shadow: 0 0 20px 5px rgba(0, 156, 156, 0.4), 0 0 30px 10px rgba(0, 156, 156, 0.3);
}

.consultoria-seccion {
    position: relative; /* Necesario para el posicionamiento absoluto del bloque trasero */
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 4em 6em;
    background-color: #fff;
    opacity: 0.98;
    color: #000000;
}

.img-consultoria__titulo div h1 {
    font-size: 60px;
    color: #3eaab2;
    
}

.img-consultoria__titulo div {
    width: 100%;
    height: 5em;
}

.img-consultoria__titulo h3 {
    font-size: 20px;
    color: #2c888f;
}

.img-consultoria__titulo h2 {
    font-size: 30px;
    color: #2c888f;
}


/* Columna de consultoría */
.colums-consult {
    width: 100%;
    display: grid;
    z-index: 1; /* Colocación en la parte superior */
        grid-template-columns: 440px 440px ;
        grid-template-rows: 1fr 1fr;
    gap: 2em;
    justify-content: center;
    position: relative;
    opacity: 1;
    margin: 40px 0em 1em 0em;
}

.colums-consult div {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    box-shadow: 0 0 8px 0 rgba(0, 156, 156, 0.2), 0 0 20px 0 rgba(0, 156, 156, 0.19);
    padding: 30px 50px;
    background-color: #fff;
    color: #3eaab2;
}


.colums-consult div img {
    width: 50px;
    margin-right: 10px;
    margin-left: 5px;
}














@media (min-width:300px){
    

    .consultoria-seccion {
        display: block;
        position: none; /* Necesario para el posicionamiento absoluto del bloque trasero */
        margin: 0 auto;
        width: 100%;
        height: auto;
        padding: 1em 1em;
        background-color: #fff;
        opacity: 0.98;
        color: #000000;
    }
    .img-consultoria__titulo div h1 {
        font-size: 40px;
        color: #3eaab2;
        
    }
    .img-consultoria__titulo div {
        width: 100%;
        height: auto;
    }
    .colums-consult {
        margin: 2em 0em 1em 0em;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

}

@media (max-width:768px){ 
    .img-consultoria {
        display: block;
        width: auto;
        height: auto;
        background-image:none;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: none;
        
        padding: 0em 0em;
        box-shadow: 0 0 20px 5px rgba(0, 156, 156, 0.4), 0 0 30px 10px rgba(0, 156, 156, 0.3);
    }
    .mobile{
        display: block;
        width: 100%;
        height: auto;
    }
    .mobile img{
        width: 100%;
        height: auto;

    }
    .mobile h1{
        position: absolute;
        top: 20%;
        left: 10%;
        color: #fff;
        font-size: 40px;        
   }
   .img-consultoria__titulo{
    display: none;
}
}
@media (max-width:500px){
    .mobile h1{
        position: absolute;
        top: 13%;
        left: 10%;
        color: #fff;
        font-size: 30px;   
        line-height: 1.05;     
   }
   .mobile{
    display: block;
    width: 100%;
    height: 6em;

}
.mobile img{
    width: 100%;
    height: 6em;

}
} 
@media (min-width:768px){
    .colums-consult {
        grid-template-columns: 440px  ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .img-consultoria__titulo div {
        width: 100%;
        height: auto;
    }
    .mobile{
        display: none;
    }


}



@media (min-width:1068px){

    .colums-consult {
        grid-template-columns: 440px 440px ;
        grid-template-rows: 1fr 1fr;
        }
}
@media (min-width:988px){
    .colums-consult {
        grid-template-columns: 440px 440px;
        grid-template-rows: 1fr 1fr;
        }
}
@media (min-width:1350px) {

    .consultoria-seccion {
        padding: 2em 18em 3em 18em;
    }
    .colums-consult {
        grid-template-columns: 440px 440px;
        grid-template-rows: 1fr 1fr;
        }
        .img-consultoria__titulo div h1 {
            font-size: 60px;
            color: #3eaab2;
            
        }
        
        .img-consultoria__titulo div {
            width: 100%;
            height: 5em;
        }
}

@media (min-width:1780px){

    .colums-consult {
        grid-template-columns: 440px 440px;
        grid-template-rows: 1fr 1fr;
        }
}
@media (min-width:2000px){

    .colums-consult {
        grid-template-columns: 500px 500px;
        grid-template-rows: 1fr 1fr;
        }
    .consultoria-seccion {
        padding: 1em 30em;
    }
}