.mobile{
    display: none;
}
.geist-Titulos {
    font-family: "Geist", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

.geist-subTitulos{
    font-family: "Geist", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Fondo de imagen de consultoría */
.img-consultoria {
    width: 100vw;
    height: 100vh;
    background-image: url('/images/imagen-finanzas.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    padding: 7em 0em;
    box-shadow: 0 0 20px 5px rgba(0, 156, 156, 0.4), 0 0 30px 10px rgba(0, 156, 156, 0.3);
}

.consultoria-seccion {
    position: relative; /* Necesario para el posicionamiento absoluto del bloque trasero */
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 4em 6em;
    background-color: #fff;
    color: #000000;
}

.img-consultoria__titulo div h1 {
    font-size: 60px;
    color: #3eaab2;
    
}

.img-consultoria__titulo div {
    width: 100%;
    height: 5em;
}

.img-consultoria__titulo h3 {
    font-size: 20px;
}

.img-consultoria__titulo h2 {
    font-size: 30px;
    color: #2c888f;
}

/* Bloque trasero */
.bloque-trasero {
    position: absolute;
    width: 500px; /* Mantiene el ancho deseado */
    height: 150px;
    background-color: #3eaab2;
    display: flex;
    color: #fff;
    justify-content: start; /* Centrado */
    align-items: start; /* Centrado */
    padding: 12px 15px;
    top: 10em; /* Coloca el bloque en la parte superior de la sección */
    left: 20em;
    z-index: 0; /* Asegúrate de que esté detrás */
}

/* Columna de consultoría */
.colums-consult {
    width: 100%;
    display: grid;
    z-index: 1; /* Colocación en la parte superior */
        grid-template-columns: 330px 330px ;
        grid-template-rows: 1fr 1fr 1fr;
    gap: 2em;
    justify-content: center;
    position: relative;
    opacity: 1;
    margin: 6em 0em 1em 0em;
}

.colums-consult div {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 8px 0 rgba(0, 156, 156, 0.2), 0 0 20px 0 rgba(0, 156, 156, 0.19);
    padding: 20px;
    background-color: #fff;
    color: #3eaab2;
}

.colums-consult div img {
    width: 50px;
    margin-right: 10px;
    margin-left: 5px;
}












@media (min-width:300px){
     
    .img-consultoria__titulo{
        display: none;
    }
    .mobile{
        display: block;
        width: auto;
        height: auto;
    }
    .mobile img{
        width: 100vw;
        height: 10em;
    }
    .mobile h1{
         position: absolute;
         top: 20%;
         left: 10%;
         color: #fff;
         font-size: 50px;        
    }
    .img-consultoria {
        width: auto;
        height: auto;
        background-image: none;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: none;
        
        padding: 0em 0em;
        box-shadow: 0 0 20px 5px rgba(0, 156, 156, 0.4), 0 0 30px 10px rgba(0, 156, 156, 0.3);
    }
    .img-consultoria__titulo{
        display: none;
    }
    .mobile{
        display: block;
        width: 100%;
        height: auto;
    }
    .mobile img{
        width: 100%;
        height: auto;

    }
    .consultoria-seccion {
        position: relative; /* Necesario para el posicionamiento absoluto del bloque trasero */
        margin: 0 auto;
        width: 100%;
        height: auto;
        padding: 1em 1em;
        background-color: #fff;
        
        color: #000000;
    }
    .colums-consult {
        margin: 6em 0em 1em 0em;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .bloque-trasero {
        width: 100%; 
        top: 2em; 
        left: 0%;
    }
}
@media (max-width:584px){ 
    .mobile h1{
        position: absolute;
        top: 13%;
        left: 10%;
        color: #fff;
        font-size: 40px;        
   }
}
@media (min-width:768px){
    
    .img-consultoria__titulo{
        display: none;
    }
    .mobile{
        display: block;
        width: auto;
        height: auto;
    }
    .mobile img{
        width: 100vw;
        height: 10em;
    }
    .mobile h1{
         position: absolute;
         top: 20%;
         left: 10%;
         color: #fff;
         font-size: 50px;        
    }
    .img-consultoria {
        width: auto;
        height: auto;
        background-image: none;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: none;
        
        padding: 0em 0em;
        box-shadow: 0 0 20px 5px rgba(0, 156, 156, 0.4), 0 0 30px 10px rgba(0, 156, 156, 0.3);
    }
    .colums-consult {
        grid-template-columns: 330px 330px ;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .bloque-trasero {
        width: 400px; 
        top:2em; 
        left: 10em;
    }
}



@media (min-width:1068px){
    .img-consultoria__titulo{
        display: block;
    }
    .img-consultoria {
        width: 100vw;
        height: 100vh;
        background-image: url('/images/imagen-finanzas.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        
        padding: 7em 0em;
        box-shadow: 0 0 20px 5px rgba(0, 156, 156, 0.4), 0 0 30px 10px rgba(0, 156, 156, 0.3);
    }
    
    .mobile{
        display: none;
    }

    .bloque-trasero {
        color: #fff;
        left: 10em;
    }
    .colums-consult {
        grid-template-columns: 330px 330px 330px;
        grid-template-rows: 1fr 1fr;
        }
        .bloque-trasero {
 
            top:12em; 

        }
}
@media (min-width:1350px) {
    .img-consultoria__titulo{
        display: block;
    }
    .img-consultoria {
        width: 100vw;
        height: 100vh;
        background-image: url('/images/imagen-finanzas.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        
        padding: 7em 0em;
        box-shadow: 0 0 20px 5px rgba(0, 156, 156, 0.4), 0 0 30px 10px rgba(0, 156, 156, 0.3);
    }
    
    .mobile{
        display: none;
    }
    .bloque-trasero {
        color: #fff;
        left: 20em;
    }
    .consultoria-seccion {
        padding: 2em 18em 3em 18em;
    }
    .colums-consult {
        grid-template-columns: 330px 330px 330px;
        grid-template-rows: 1fr 1fr;
        }
        .img-consultoria__titulo div h1 {
            font-size: 60px;
            color: #3eaab2;
            
        }
        
        .img-consultoria__titulo div {
            width: 100%;
            height: 5em;
        }
}

@media (min-width:1780px){
    .img-consultoria__titulo{
        display: block;
    }
    .img-consultoria {
        width: 100vw;
        height: 100vh;
        background-image: url('/images/imagen-finanzas.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        
        padding: 7em 0em;
        box-shadow: 0 0 20px 5px rgba(0, 156, 156, 0.4), 0 0 30px 10px rgba(0, 156, 156, 0.3);
    }
    
    .mobile{
        display: none;
    }
    .bloque-trasero {
        left: 30em;
    }
    .colums-consult {
        grid-template-columns: 330px 330px 330px;
        grid-template-rows: 1fr 1fr;
        }
}
@media (min-width:2000px){
    .img-consultoria__titulo{
        display: block;
    }
    .img-consultoria {
        width: 100vw;
        height: 100vh;
        background-image: url('/images/imagen-finanzas.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        
        padding: 7em 0em;
        box-shadow: 0 0 20px 5px rgba(0, 156, 156, 0.4), 0 0 30px 10px rgba(0, 156, 156, 0.3);
    }
    
    .mobile{
        display: none;
    }
    .bloque-trasero {
        left: 40em;
    }
    .colums-consult {
        grid-template-columns: 330px 330px 330px;
        grid-template-rows: 1fr 1fr;
        }
    .consultoria-seccion {
        padding: 1em 30em;
    }
}



