* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Carrusel */
.main-contenedor {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    width: 900%; /* Asegúrate de que sea el 900% para nueve imágenes */
    transition: transform 1s ease-in-out; /* Suaviza la transición */
}

.carousel-images {
    display: flex; /* Asegura que las imágenes estén en una fila */
}

.carousel-images img {
    width: 100vw; /* Cada imagen ocupa el 100% del ancho de la ventana */
    height: 100vh; /* Cada imagen ocupa el 100% de la altura de la ventana */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
}

.titulo {
    position: absolute;
    top: 10em;
    left: 10%;
}

.titulo h1 {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 6px;
}

.titulo h5 {
    font-size: 25px;
    color: #fff;
}
.links-con-foto {
    width: 100vh;
    height: 100%;
}

.consultoria-link,
.asesoramiento-link {
    position: absolute;
}

.consultoria-link {
    bottom: -4em;
    left: 51%;
}

.asesoramiento-link {
    bottom: -4em;
    right: 51%;
}

/* Efecto de blur y sombra en imágenes */
.consultoria-link img,
.asesoramiento-link img {
    opacity: 0.9;
    transition: 0.5s;
    transition: filter 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5); /* Sombra normal */
}
.consultoria-link a div img,
.asesoramiento-link a div img {
    transition: filter 0.5s ease, box-shadow 0.5s ease;
    box-shadow: none; /* Sombra normal */
}

.consultoria-link:hover img,
.asesoramiento-link:hover img {
    filter: blur(0px);
    opacity: 1.5;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.6); /* Sombra en hover */
}
.consultoria-link:hover a div img,
.asesoramiento-link:hover a div img {
    filter: blur(0px);
    box-shadow: none; /* Sombra en hover */
}

.consultoria-link:hover a img,
.asesoramiento-link:hover a img {
    filter: blur(1px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.6); /* Sombra en hover */
}

.texto-consultoria img,
.texto-asesoramiento img {
    color: rgb(255, 255, 255);
    height: 70px;
    width: auto;
}
.texto-consultoria:hover img,
.texto-asesoramiento:hover img {
    box-shadow:none;
    height: 70px;
    width: auto;
}

.texto-consultoria {
    position: absolute;
    display: flex;
    gap: 1em;
    bottom: 4em;
    left: 2em;
    width: 290px;
}
.texto-asesoramiento {
    position: absolute;
    display: flex;
    gap: 1em;
    bottom: 2em;
    left: 2em;
    width: 300px;
}

.texto-consultoria h2,
.texto-asesoramiento h2 {
    font-size: 30px;
    color: #fff;
}

.texto-consultoria p,
.texto-asesoramiento p {
    font-size: 16px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}
