main{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 700px 700px;

    padding: 7em 5em;
    justify-content: space-around;
}
.img-quienes-somos{
    background-image: url('/images/vision-imagen.jpg');
    background-size: cover;
    width: 100%;
    height: auto;
}
.texto-quienes-somos h2{
    color: #2c888f;
    font-size: 35px;
}
.texto-quienes-somos p{

    font-size: 18px;
}
